__pycache__/
.ipynb_checkpoints/
.DS_Store
.auth.txt
.auth.json
.auth.py
.credentials.py
auth.json
auth.txt
auth.py
credentials.py
*.pdf
*.jpeg
*.psd
*.ai
*.csv
node_modules/
package-lock.json
.Rproj.user
*.code-workspace
